h1 {font-size: 50px;
  font-weight: normal;
font-family: Verdana;
color: white;
text-align: center;}

body {background-color: black;}

.link p {color: aquamarine;
font-size: 16px;
text-align: center;
text-decoration: underline;
font-weight:200; }

video {display: block;
  margin: auto;}

h2 {text-align: center;
color:white;
font-family: Verdana;
font-size: 42px;
font-weight: 300}

img {display: block;
margin: auto;}

h3 {text-align: center;
color: gray;
font-size: 21px;
font-family: Verdana;
font-weight: normal;}

p {color: gray;
text-align: right;}
